# 機密ファイル
.env

# nodeの依存群
node_modules/

# ログファイル
*.log

# ビルド済みフォルダ
dist/

# votes.jsonを扱うためのJSコード
server_js.txt

# 不要
*.vscode
.eslintrc.js
.eslint.config.mjs
.prettier.config.js
VScode_Copilot.md
# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions