# 機密ファイル
.env

# nodeの依存群
node_modules/

# ログファイル
*.log

# ビルド済みフォルダ
dist/

# votes.jsonを扱うためのJSコード
server_js.txt

# 不要
*.vscode
*.sass
.eslintrc.js
.eslint.config.mjs
.prettier.config.js
Vscode_Copilot.md