@charset "UTF-8";
body {
  font-family: Noto Sans JP, -apple-system, blinkmacsystemfont, Segoe UI, Hiragino Kaku Gothic ProN, BIZ UDPGothic, meiryo, sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.7;
  --tw-text-opacity: 1;
  color: rgb(51 51 51/var(--tw-text-opacity));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* ブラウザのウィンドウサイズを変更すると、ビューポートの高さの100％相当に変更される
     つまり現在のブラウザウィンドウの高さ全体を表す
     ウェブページのコンテンツがどれだけ少なくても、
     <body> 要素の高さは常にブラウザウィンドウの高さ全体を占める*/
  min-height: 100vh;
}

/* -------------------------------------------------
ヘッダー 
----------------------------------------------------*/
header {
  background-color: hsla(0, 0%, 100%, 0.88);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__inner {
  max-width: 90rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.header__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--header-block-size);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav, .header-menu, .language-selector__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.header-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  width: 100%;
}

.header__menu--desktop-only, .header-menu__item.header-menu__item--divider {
  display: none;
}

/* -------------------------------------------------
ヘッダーメニューバー
----------------------------------------------------*/
.header-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: calc(infinity * 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  font-weight: 400;
  gap: 0.5rem;
  letter-spacing: 0.02em;
  line-height: 1;
  min-height: 2rem;
  padding: 0.5rem;
  text-align: center;
  text-wrap: nowrap;
}

.header-item:hover {
  outline-color: #000;
  outline-style: dashed;
  outline-width: 1px;
}

/* -------------------------------------------------
各ページ、各項目のタイトル
----------------------------------------------------*/
.section {
  margin-top: 2rem;
}

.section:nth-child(2) {
  margin-top: 0;
}

.section__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  z-index: auto;
}

.section__title {
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.attention {
  list-style-type: disc;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 2rem;
}

/* .attention-item__link クラスを持つ要素のうち、
.attention-item__text--isInformation クラスを持つ子要素が対象
:has() は、指定されたセレクターを持つ要素を選択、古いブラウザではサポートされていない場合がある
:hover により、マウスが要素の上にある状態を指定
*/
.attention-item__link:has(.attention-item__text--isInformation), .attention-item__link:not(.no-link):has(.attention-item__text--isInformation):hover {
  --tw-text-opacity: 1;
  color: rgb(0 17 143/var(--tw-text-opacity));
}

.attention-item__link:not(.no-link) {
  text-decoration-line: underline;
  text-underline-offset: 0.1875rem;
}

/* -------------------------------------------------
入力（ニックネーム、プロジェクト名）
----------------------------------------------------*/
.project-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.card__project {
  width: 100%;
  max-width: 30rem;
  min-width: 0;
  border-radius: 0.5rem;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.form__input-field {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__label {
  max-width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
}

.form__label-badge {
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 2.5rem;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 0.8rem;
}

.form__project-create {
  -ms-flex-line-pack: center;
      align-content: center;
}

.form__input--name {
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  margin-left: 1rem;
  margin-top: 1rem;
  padding-left: 1em;
  padding-right: 1em;
  height: 40px;
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
  font-size: 15px;
}

.create-button {
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 2.5rem;
  text-align: center;
  background-color: #5b62c8;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8rem;
}

.create-button:hover {
  background-color: #c8a55b;
}

.button__project-create {
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 5rem;
  text-align: center;
  font-size: 0.8rem;
}

.loading-animation::after {
  content: "";
  -webkit-animation: dots 1s steps(3, end) infinite;
          animation: dots 1s steps(3, end) infinite;
}

@-webkit-keyframes dots {
  0% {
    content: "";
  }
  10% {
    content: ".";
  }
  25% {
    content: "..";
  }
  50% {
    content: "...";
  }
  75% {
    content: "....";
  }
  100% {
    content: ".....";
  }
}

@keyframes dots {
  0% {
    content: "";
  }
  10% {
    content: ".";
  }
  25% {
    content: "..";
  }
  50% {
    content: "...";
  }
  75% {
    content: "....";
  }
  100% {
    content: ".....";
  }
}
/* -------------------------------------------------
管理画面
----------------------------------------------------*/
.section__admin-text {
  font-size: 1.2rem;
}

.automatic-deletion-text {
  font-size: 1rem;
  margin-top: 2.3rem;
}

.precautions-text {
  color: #c86b5b;
}

.card__URL {
  border-radius: 0.5rem;
  border-width: 1px;
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.card__body-URL {
  padding: 0.5rem;
}

.card__title-URL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.voteUrl, .resultUrl, .adminUrl {
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  max-width: 100%; /* はみ出し防止 */
  min-width: 100%; /* はみ出し防止 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* padding, borderも含めた幅にする */
  text-align: center;
  font-size: 0.8rem;
}

.button__text-voteUrlCopy,
.button__text-resultUrlCopy,
.button__text-adminUrlCopy,
.button__reset-nickname,
.button__delete-project {
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  padding: 0.2em;
  width: 3.1rem;
  height: 2rem;
  text-align: center;
  background-color: #5b62c8;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

.button__text-voteUrlCopy,
.button__text-adminUrlCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__headerVotedInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.form__votedInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.form__labelVotedInfo {
  padding: 0 2rem;
  line-height: 2;
}

.form__textareaVotedInfo,
.form__inputVotedInfo {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  font-family: sans-serif;
  font-size: 1.1rem;
  padding: 5px;
}

.form__textareaVotedInfo {
  height: 60px;
  border: 1px solid #000000;
}

.form__inputVotedButton {
  border-radius: 0.25rem;
  margin: 0 2rem;
  width: 3.1rem;
  height: 2rem;
  text-align: center;
  background-color: #5b62c8;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

.user-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button__reset-nickname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2em;
  height: 2rem;
  width: 2rem;
}

.button__delete-project {
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 5rem;
  background-color: #c85b5b;
}

.button__text-voteUrlCopy:hover,
.button__text-adminUrlCopy:hover,
.button__reset-nickname:hover,
.button__delete-project:hover {
  background-color: #c8a55b;
}

/* -------------------------------------------------
投票画面
----------------------------------------------------*/
.section__main-text {
  font-size: 1.2rem;
}

.selection-example-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

.number-info {
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1.2;
  white-space: pre-wrap;
}

.number-figure {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #5b62c8;
  color: #ffffff;
  cursor: pointer;
}

.reset-button-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

.reset-button-text {
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 5rem;
  text-align: center;
  background: #c85b5b;
  color: #fff;
  font-size: 0.8rem;
}

.template__main {
  margin: 3rem auto 9rem;
  max-width: 77.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

/* -------------------------------------------------
カード形式のデザイン
----------------------------------------------------*/
.card {
  border-radius: 0.5rem;
  border-width: 1px;
  display: grid;
  height: 100%;
  width: 100%;
  max-width: 40rem;
  overflow: hidden;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.card__body {
  text-align: center;
  padding: 0.5rem;
}

/* カード内に画像がある場合に、グリッドレイアウトの行のサイズを調整
    1. 最初の行（画像の行など）は、コンテンツの最小サイズで表示されます。
    2. 2番目の行（コンテンツの行）は、残りのスペースをすべて埋めて表示されます。*/
.card:has(.card__image) {
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
}

.card__pointtable__title {
  border-bottom: 1px solid #ddd;
}

.point-input {
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  padding-left: 0.5rem;
  width: 5rem;
  -webkit-box-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
}

.anchor-card, a.card {
  --tw-text-opacity: 1;
  color: rgb(51 51 51/var(--tw-text-opacity));
  text-decoration-line: none;
}

.card__image {
  border-bottom-width: 1px;
  overflow: hidden;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0/var(--tw-border-opacity));
}

/* -------------------------------------------------
カード
----------------------------------------------------*/
.stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 縦に積む形 */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 子要素の中央揃え */
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  padding: 0 1rem; /* モバイル時の左右余白を確保 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stack > li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stack--medium {
  gap: 1rem;
}

/* -------------------------------------------------
数字選択
----------------------------------------------------*/
.section__number-title {
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1;
  margin-top: 2rem;
}

.selected-ranking {
  font-size: 1rem;
  margin-left: 1rem;
}

.reset-button {
  border-radius: 0.25rem;
  margin-left: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 5rem;
  text-align: center;
  background: #c85b5b;
  color: #fff;
  font-size: 0.8rem;
}

.reset-button[aria-expanded=false] {
  display: none;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #5b62c8;
  color: #ffffff;
  cursor: pointer;
}

.number-button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #5b62c8;
  color: #ffffff;
  cursor: pointer;
}

.number-button:hover {
  background-color: #c8a55b;
}

.number-button.selected {
  background-color: rgba(200, 165, 91, 0.7882352941) !important;
  color: #fff !important;
  border: 1px solid #5b62c8;
}

.selected-ranking__text {
  margin-right: 1rem;
}

/* -------------------------------------------------
投票ボタン
----------------------------------------------------*/
.vote-button {
  padding: 10px 15px;
  margin: 5px;
  text-align: center;
  margin-top: 20px;
}

.vote-button__dent {
  mix-blend-mode: multiply;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(#FFF 0.1%, #72736f 20%, #bfbfbf 100%);
  background-size: 400% 400%;
  background-position: 44% 55%;
}

.vote-button__action {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

.vote-button__surface {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  left: 15px;
  top: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5019607843);
  background-image: url("../images/Button/vote.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 0 0 1px #EADAB6;
          box-shadow: 0 0 0 1px #EADAB6;
}

.vote-button__surface:hover {
  background-color: rgba(255, 255, 255, 0.3843137255);
  background-image: url("../images/Button/vote.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 0 0 1px #FFFEF7;
          box-shadow: 0 0 0 1px #FFFEF7;
}

.vote-button__surface:active {
  width: 68px;
  height: 68px;
  left: 16px;
  top: 16px;
  background: radial-gradient(circle, rgba(242, 205, 77, 0.2), rgba(218, 181, 103, 0.2));
  background-color: rgba(255, 255, 255, 0.7529411765);
  background-image: url("../images/Button/vote.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2.5px rgba(66, 66, 66, 0.25);
          box-shadow: inset 0 0 0 2.5px rgba(66, 66, 66, 0.25);
}

/* -------------------------------------------------
フッター
----------------------------------------------------*/
.footer__inner {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 77.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.footer__content {
  display: grid;
  gap: 2rem;
  width: 100%;
}

.footer__nav {
  width: 100%;
}

.footer-nav__list {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.7;
}

.footer-nav__item {
  margin-bottom: 1rem;
}

.footer-nav__link {
  margin-left: -0.125rem;
  margin-right: -0.125rem;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  text-decoration-line: underline;
  text-underline-offset: 0.1875rem;
}

.sns--img {
  height: 2rem;
  width: 2rem;
}

/* -------------------------------------------------
画面前面にある要素
----------------------------------------------------*/
.template__pagetop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1.25rem;
  pointer-events: none;
}

.pagetop, .pagetop:hover {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

.pagetop {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  border-color: rgb(0 23 193/var(--tw-border-opacity));
  border-radius: 624.9375rem;
  border-width: 1px;
  border-style: solid;
  bottom: 1.25rem;
  color: rgb(0 23 193/var(--tw-text-opacity));
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: auto;
  position: fixed;
  width: 4rem;
}

.pagetop:hover {
  background-color: rgba(91, 98, 200, 0.3490196078);
}

.icon--16px {
  height: 1rem;
  width: 1rem;
}

/* ---------------------------------------------
投票結果
------------------------------------------------- */
.section__results-text {
  font-size: 1.2rem;
}

.round, .points {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.round__rankings, .points__rankings {
  display: grid;
  gap: 1rem;
  border-radius: 0.5rem;
  border-width: 1px;
  display: grid;
  height: 100%;
  overflow: hidden;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.round__rankings p, .points__rankings p {
  overflow-x: auto;
  white-space: pre-wrap;
}

.vote__section {
  margin-bottom: 2rem;
}

.point-text {
  font-size: 0.875rem;
}

.point__card {
  border-radius: 0.5rem;
  border-width: 1px;
  display: grid;
  width: 20rem;
  height: 100%;
  overflow: hidden;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.point-confirm-button {
  padding: 0.275rem;
  margin: 0.5rem;
  margin-left: 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #5b62c8;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8rem;
}

.highlight-yellow {
  color: #c8b45b;
  font-weight: bold;
}

.highlight-blue {
  color: #5b62c8;
  font-weight: bold;
}

.highlight-brown {
  color: #c87a5b;
  font-weight: bold;
}

.sns__line {
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; /* テキストとSVGを横並びにする */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* テキストとSVGを縦方向に中央揃え */
}

.line-share svg {
  -ms-flex-negative: 0;
      flex-shrink: 0; /* SVGのサイズを固定 */
}

.line-share:hover {
  cursor: pointer;
}

/* ---------------------------------------------
レスポンシブデザイン
------------------------------------------------- */
@media (min-width: 48em) {
  .section__header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 1.5rem;
  }
  .form__name-field {
    padding-top: 0px;
    padding-bottom: 24px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #ddd;
  }
  .form__label {
    width: 100%;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }
  .form__label-badge {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #5bc8ac;
    color: #fff;
    font-size: 14px;
  }
  .form__input--name {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 10px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
  }
  .create-button {
    border-radius: 0.25rem;
    margin-left: 1rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    width: 4rem;
    font-size: 1rem;
  }
  .footer__content {
    justify-items: start;
  }
  .footer-nav__list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    font-size: 0.875rem;
    font-weight: 400;
    gap: 2.25rem;
    letter-spacing: 0.02em;
    line-height: 1;
  }
}
@media (min-width: 64em) {
  .header__nav {
    -webkit-margin-end: -0.3125rem;
            margin-inline-end: -0.3125rem;
  }
  .header__menu--desktop-only {
    display: block;
  }
  .header-dropdown {
    border-top-width: 0;
    top: 3.7rem;
  }
  .header-dropdown__container {
    padding-bottom: 3.5rem;
    padding-top: 2rem;
  }
  .header-dropdown__content {
    display: grid;
    gap: 0;
    grid-template-columns: 3fr 1fr;
  }
  .header-dropdown-list {
    -webkit-column-gap: 1.625rem;
       -moz-column-gap: 1.625rem;
            column-gap: 1.625rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }
  .header-dropdown__menu--mobile-only {
    display: none;
  }
  .header-dropdown__menu--divider {
    border-left-width: 1px;
    margin-left: 3.5rem;
    padding-left: 3.5rem;
  }
  .header-dropdown__quartary-menu .header-dropdown-list__external-link,
  .header-dropdown__quartary-menu .header-dropdown-list__link {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .footer__content {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    min-height: 8.5rem;
  }
  .footer__nav {
    grid-column: span 4/span 4;
  }
}
@media (min-width: 80em) {
  .header-menu {
    gap: 0.875rem;
  }
  .header-menu__item.header-menu__item--divider {
    display: block;
  }
}
/* ---------------------------------------------
デザインの統一性
・デフォルトの変数を設定
・親要素のスタイルと統一
参考
:root:      <html>要素のみを対象
            例えば、ウェブサイトの主要な色、フォント、間隔などをCSS変数として:rootに定義し、他のCSSルールから参照
::backdrop: 全画面表示(フルスクリーン)要素の背後に表示される疑似要素
            <video>要素全画面表示時やモーダルダイアログの背後にあるコンテンツを暗くしたり、ぼかしたり、その他の視覚効果を加えたりするために使用
::marker:   リストのマーカーに対してスタイルを適用
!important; 重要度を持つプロパティを設定
            他のスタイルよりも優先される
------------------------------------------------- */
/* HTMLの<button>要素はもちろん、role="button"が付与された要素に適用 */
[role=button], button {
  /* ポインター（手の形）*/
  cursor: pointer;
}

:root {
  --header-block-size: 4.5rem;
}

/* リストのマーカーに対してスタイルを適用 */
::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  -moz-text-align-last: auto !important;
       text-align-last: auto !important;
}

.icon {
  fill: currentColor;
  line-height: 1;
}

/* フォーム要素のスタイルを親要素のスタイルと統一 */
button, input, optgroup, select, textarea {
  color: inherit;
  font-family: inherit;
  -webkit-font-feature-settings: inherit;
          font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

/* フォーム要素のスタイルを親要素のスタイルと統一 */
audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
}

menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline .columns {
  display: grid;
  gap: 2rem;
  margin-top: 1.5rem;
}

.columns {
  display: grid;
  gap: 2rem;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

article .mdcontainer-card__thumb,
div.preview .mdcontainer-card__thumb,
div.preview-block .mdcontainer-card__thumb {
  border-bottom-width: 1px;
  overflow: hidden;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0/var(--tw-border-opacity));
}

/* ---------------------------------------------
アクセシビリティ対応
視覚的には非表示でも、
スクリーンリーダーでは読み上げ対象になる要素にフォーカス
------------------------------------------------- */
[hidden] {
  display: none;
}

.u-visually-hidden {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

/* ---------------------------------------------
リセットCSS

参考
*:      すべての<html>要素だけでなく、<body>、<div>、<p>など、ウェブページ内のすべての要素が対象
        すべての要素のボックスモデルをborder-boxに変更したり、マージンやパディングをリセットしたりする場合に使用
after:  疑似要素（要素の最後に追加される内容）
before: 疑似要素（要素の最初に追加される内容）
where:  セレクタリストを受け取り、その中のいずれかのセレクタに一致する要素を選択
        セレクタの特異度が 0 になるため、後から別のセレクタでスタイルを定義した場合に、特異度による競合が発生しにくくなる
------------------------------------------------- */
/* ボーダーおよびボックスの統一 */
*, :after, :before {
  /*  0:       ボーダーを非表示
      solid:   実線
      #e5e7eb: 薄い灰色
      すべての要素からデフォルトのボーダーを削除し、必要に応じて後から追加 */
  border: 0 solid #e5e7eb;
  /* border-box
  要素の幅と高さにパディングとボーダーが含まれるため計算しやすい。
  そのため、パディングやボーダーを追加しても、要素のサイズは変わらない
  レスポンシブデザインに対応しやすい
   */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ボタンのデザインをリセット */
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  background-color: initial;
  background-image: none;
}

/* 大文字小文字の変換をリセット
ブラウザによっては"TEST BUTTON"が大文字で表示されてしまったり、
"Test Option"の最初の文字だけが大文字で表示されてしまう可能性があるため */
button, select {
  text-transform: none;
}/*# sourceMappingURL=style.css.map */